#token {
    background-color: #0F334C;
    width: 100%;
    height: calc( 100vh );
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans Pro";
}

#token > img {
    position: absolute;
    width: 100%;
    height: calc( 100vh );
}
#token .layer p {
    color: #4D4F5C;
    font-size: 18px;
}
#token .layer .waiting {
    text-transform: uppercase;
    color: #0F334C;
    font-size: 23px;
    font-family: "Raleway";
    margin-top: 10%;
}
#token .layer .bubble {
    width: 95%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#token .layer {
    position: relative;
    background-color: white;
    box-sizing: border-box;
    width: 600px!important;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.layer .form {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.layer .desc {
    color: #4D4F5C;
    font-size: 18px;
    opacity: .5;
}

#token input {
    width: 100%;
    margin: 8px 0;
}

#token .formControl{
    width: 100%;
}

#token h2 {
    color: #16374D;
    font-size: 30px;
}
#token .packages {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.packages > div {
    width: 30%;
    background-color: #EFF5F9;
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-bottom: 20px;
    color: #83929B;
}
.packages > div:nth-child(3n) {
    margin-right: 0;
}

.packages > div img{
    width: 50px;
    padding: 15px;
}

.packages > div h3 {
    margin: 0 0 0 0;
    color: #16374D;
}

.packages > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.packages > div .price {
    font-size: 40px;
    color: #16374D;
    font-family: bebasFont;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
}
.packages > div .title {
    width: 130px;
}
.packages .check {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.packages .chkbox {
    width: 30px;
    height: 30px;
    background-color: #D7E0E6;
}

.layer .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer .footer button{
    border-radius: 50px;
    width: 400px;
    height: 50px;
    margin-top: 20px;
}

.layer .footer p{
    font-size: 23px;
    color: #0F334C;
}

.packages .check i{
    color: #2BC7D0;
    font-size: 40px;
    position: absolute;
}
.closed .desc {
    margin-bottom: 50px;
    color: #5f5f5f;
    font-size: 18px;
    opacity: 1;
    font-weight: bold;
    text-align: justify;
}
.closed .buttn{
    text-decoration: none;
} 
.closed .buttn{
    margin: 30px 0;
}

@media only screen and (max-width: 1580px) {
    #token .layer {
        zoom: .85;
    }
}

@media only screen and (max-width: 500px) {
    #token {
        height: auto;
    }
    #token > img{
        display: none;
    }
    #token .layer {
        zoom: 1;
        margin: 20px 0;
        padding-top: 20px;
    }
    .packages > div {
        width: 90%;
        margin-right: 0;
    }
    #token .packages {
        flex-direction: column;
        align-items: center;
    }
    .layer .footer p{
        width: 400px;
        text-align: center;
    }
}