/* TwoFactorAuthentication */


#contentWrapper #twoFactorAuthentication .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #16374d;
}

#twoFactorAuthentication .box form {
    margin: auto;
    width: 300px;
    font-size: 12px;
}

@media (max-width: 800px) {
    #contentWrapper #twoFactorAuthentication {
        height: 100%;
    }

    #contentWrapper #twoFactorAuthentication .box {
        padding-right: 10px;
        padding-left: 10px;
    }

    #contentWrapper #twoFactorAuthentication .box form {
        width: 100%;
    }
}