/* MyPayments */

#contentWrapper #ordersHistory {
    height: 100vh;
}

#ordersHistory ul {
    list-style-type: none;
    padding-left: 0;
}

#contentWrapper #ordersHistory .box {
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    color: #16374d;
}

#ordersHistory .box .logotype img {
    height: 100px;
}

#ordersHistory .box .ordersTable table {
    width: 100%;
}

#ordersHistory .box .ordersTable table thead tr th {
    background-color: #f5f6fa;
    color: #a3a6b4;
    font-size: 12px;
    padding: 20px 0;
}

#ordersHistory .box .ordersTable table tbody tr td {
    font-size: 12px;
    border-bottom: solid 1px #f1f1f3;
    padding-top: 5px;
    padding-bottom: 5px;
}


@media (max-width: 800px) {

    #contentWrapper #ordersHistory {
        height: 100%;
    }

    #contentWrapper #ordersHistory .box  {
        padding-right: 10px;
        padding-left: 10px;
     }
}