#contentWrapper #referidos {
    height: 100vh;
}
#referidos ul{
    list-style-type: none;
    padding-left: 0;
}
#contentWrapper #referidos .box  {
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
 }
 #referidos .box .avatar img {
    margin-top: 20px;
    height: 80px;
 }
#referidos .box .userInfo {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 5px;
    color: #16374D;
}
#referidos .box .userInfo p {
    margin: 0;
}
#referidos .box .userInfo .numberOfChildrenComponent {
    height: 40px;
}
#referidos .box .childrenList {
    margin-top: 10px;
    height: calc(100% - 224px);
}
#referidos .box .childrenList table {
    width: 100%;
}
#referidos .box .childrenList table thead tr th {
    background-color: #F5F6FA;
    color: #A3A6B4;
    font-size: 12px;
    padding: 20px 0;
 }
#referidos .box .childrenList table tbody tr td {
    font-size: 12px;
    border-bottom: solid 1px #F1F1F3;
    padding-top: 5px;
    padding-bottom: 5px;
 }
#referidos .box .childrenList table tbody tr td svg {
    margin-left: -7px;
    overflow: inherit;
 }
#referidos .box .childrenList table tbody tr td span.active,
#referidos .box .childrenList table tbody tr td span.inactive {
    font-weight: bolder;
    color: #818181;
    opacity: 0.5;
    font-size: 10px;
 }
#referidos .box .childrenList table tbody tr td img {
    height: 25px;
 }
#referidos .box .childrenList table tbody tr td .packageName {
    vertical-align: super;
 }
#referidos .box .childrenList table tbody tr td i {
    margin-left: -3px;
 }

#referidos .toggle{
    top:10px;
    right: 20px;
}

#referidos .numeroHijos {
    font-size: 11px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #E0FCEE;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#referidos .numeroHijos.noChildren {
    background-color: #FFE3E7;
 }

@media (max-width: 800px) {

    #contentWrapper #referidos {
        height: 100%;
    }

    #contentWrapper #referidos .box  {
        padding-right: 10px;
        padding-left: 10px;
     }
}