/* Home */

#contentWrapper #home .box  {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
    padding-left: 100px;
    color: #16374D;
}

.box .logotype img {
    height: 100px;
}

.box .welcome {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 5px;
}

.buttnActivate{
    margin-top: 20px;
}

#gridHomeDash {
    width: 100%;
    display: grid;
    grid-template-columns: 70% auto;
}

@media (max-width: 800px) {
    #contentWrapper #home .box  {
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .box .logotype img {
        height: 100px;
    }
    
    .box .welcome {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 5px;
    }
}


.balanceDash{
    display: block;
    font-size: 30px;
    color: #16374D;
    margin: 20px 0 0 0;
    font-family: bebasFont;
}