/* OrdersActiveTable */

.ordersActiveTable table {
    width: 100%;
}

.ordersActiveTable table thead tr th {
    background-color: #f5f6fa;
    color: #a3a6b4;
    font-size: 12px;
    padding: 20px 0;
}

.ordersActiveTable table tbody tr td {
    font-size: 12px;
    border-bottom: solid 1px #f1f1f3;
    padding-top: 5px;
    padding-bottom: 5px;
}


@media (max-width: 800px) {
    
}