/* ProtectedBalances */

#contentWrapper #protectedBalances {
    height: 100vh;
}

#referidos ul {
    list-style-type: none;
    padding-left: 0;
}

#contentWrapper #protectedBalances .box {
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    color: #16374d;
}

#contentWrapper #protectedBalances .box .savebutton {
    font-size: 20px;
    margin-top: 20px;
    padding: 20px 60px;
}

#protectedBalances .box .logotype img {
    height: 100px;
}

#protectedBalances .box #protectedBalanceList table {
    width: 100%;
}

#protectedBalances .box #protectedBalanceList table thead tr th {
    background-color: #f5f6fa;
    color: #a3a6b4;
    font-size: 12px;
    padding: 20px 0;
}

#protectedBalances .box #protectedBalanceList table tbody tr td {
    font-size: 12px;
    border-bottom: solid 1px #f1f1f3;
    padding-top: 5px;
    padding-bottom: 5px;
}


@media (max-width: 800px) {

    #contentWrapper #protectedBalances {
        height: 100%;
    }

    #contentWrapper #protectedBalances .box  {
        padding-right: 10px;
        padding-left: 10px;
     }
}