#formBuyAssets {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#formBuyAssets input.formControl{
    width: 85%;
} 

#formBuyAssets i {
    text-align: center;
    padding: 11px 5px;
    margin: auto 0;
    width: 10%;
}
.formUpgradeTitle {
    text-transform: uppercase;
}
#formBuyAssets i {
    text-align: center;
    padding: 11px 5px;
    margin: auto 0;
    width: 10%;
}

#formBuyAssets i:hover {
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

#formBuyAssets i.visiblePassword {
    background-color: #2bc7d0;
}