.signalsTable{
    width: 100%;
}

.signalsTable thead{
    background-color: gray;
    color: white
}

.signalsTable tbody tr td a{
    background-color: gray;
    color: white;
    text-decoration: none;
    height: 10px;
}

.signalsTable tbody tr td{
    border-bottom: 1px solid gray;
    height: 30px;
    padding: 10px;
}

.signalsTable tbody tr:hover{
    background-color: gray;
    color: white
}

.signalsTable tbody tr:hover a{
    background-color: white;
    color: black;
}