/* Loading */

#loading {
    display: none;
    position: absolute;
    background-color: #EFF5F9DD;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
}

#loading span {
    margin: auto;
}

#loading.visible {
    display: flex;
}