/* RefererLink */

#contentWrapper #registro .box  {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
    padding-left: 100px;
    color: #16374D;
}

.box .logotype img {
    height: 100px;
}

.box .link {
    display: inline;
    background-color: #E0FCEE;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 10px;
}

.box .link a {
    color: #707070;
    text-decoration: none;
}

.box .link i {
    color: #57D295;
    margin-left: 20px;
}

@media (max-width: 800px) {

    #contentWrapper #registro .box  {
        padding-right: 5px;
        padding-left: 5px;
     }

     .box .link {
         background-color: rgba(0,0,0,0);
     }
     
     .box .link a {
         display: inline-block;
         padding: 10px;
         background-color: #E0FCEE;
         border-radius: 10px;
         font-size: 10px;
         margin-bottom: 10px;
     }
     
     .box .link i {
         font-size: 40px;
     }
}