/* FormTermsAndConditions */

#termsAndConditions {
    color: #16374D;
    position: relative;
    font-size: 14px;
}

#termsAndConditions pre {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-height: 300px;
    overflow: auto;
    text-align: justify;
}

#termsAndConditions input[type=submit].disabled {
    background-color: #AAA;
}

