.childrenCounter {
    background-color: #E0FCEE;
    color: #4D4F5C;
    font-size: 16px;
    display: inline-block;
    border-radius: 20px;
    padding: 3px 40px;
}

.childrenCounter.noChildren {
    background-color: #FAE7E8;
}

.childrenCounter .number {
    font-size: 30px;
    font-weight: bolder;
}

.childrenCounter .label {
    vertical-align: super;
    padding: 0 10px;
}

@media (max-width: 800px) {
    
    .childrenCounter {
        background-color: rgba(0,0,0,0);
        text-align: center;
        margin-left: auto;
    }

    .childrenCounter .number {
        font-size: 25px;
        font-weight: bolder;
        background-color: #B1F2D6;
        padding: 2px 10px;
        border-radius: 100%;
    }

    .childrenCounter.noChildren .number {
        background-color: #FAE7E8;
    }

    .childrenCounter.noChildren {
        background-color: rgba(0,0,0,0);
    }
    
    .childrenCounter .label {
        font-size: 12px;
        display: block;
    }
}