#infoSignal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

#infoSignal > div {
    width: 33%;
}

#buttonsSignal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

#buttonsSignal > div {
    width: 33%;
}
.buttonsBox > button {
    margin: 10px;
}