.prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}

.prices > div {
    width: 30%;
    margin-right: 2%;
}

.box #pestanas {
    position: absolute;
    top: -40px;
    width: 1000px;
    display: flex;
    flex-direction: row;
}

.box #pestanas > div {
    margin: 0 5px;
    background-color: white;
    height: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: gray;
}


.box #pestanas .active {
    font-weight: bolder;
    color: black;
}

.clusterMapOcup {
    display: flex;
    justify-content: center;
    padding-top: 4px;
    flex-wrap: wrap;
}
.clusterMapOcup > div {
    margin-right: 2px;
    border: 1px solid #b3b3b3;
    border-radius: 8px;
    padding: 2px;
    color: #fff;
    font-weight: 700;
    font-size: 10px;

}


.signalsTable{
    width: 100%;
}

.signalsTable thead{
    background-color: gray;
    color: white
}

.signalsTable tbody tr td a{
    background-color: gray;
    color: white;
    text-decoration: none;
    height: 10px;
}

.signalsTable tbody tr td{
    border-bottom: 1px solid gray;
    height: 30px;
    padding: 10px;
}

.signalsTable tbody tr:hover{
    background-color: gray;
    color: white
}

.signalsTable tbody tr:hover a{
    background-color: white;
    color: black;
}