/* MyPayments */

#contentWrapper #myPayments {
    height: 100vh;
}

#referidos ul {
    list-style-type: none;
    padding-left: 0;
}

#contentWrapper #myPayments .box {
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    color: #16374d;
}

#myPayments .box .logotype img {
    height: 100px;
}

#myPayments .box .myPaymentsTable table {
    width: 100%;
}

#myPayments .box .myPaymentsTable table thead tr th {
    background-color: #f5f6fa;
    color: #a3a6b4;
    font-size: 12px;
    padding: 20px 0;
}

#myPayments .box .myPaymentsTable table tbody tr td {
    font-size: 12px;
    border-bottom: solid 1px #f1f1f3;
    padding-top: 5px;
    padding-bottom: 5px;
}

#myPayments .box .myPaymentsTable table tbody tr td img {
    height: 23px;
}

#myPayments .box .myPaymentsTable table tbody tr td .packageName {
    vertical-align: super;
}


@media (max-width: 800px) {

    #contentWrapper #myPayments {
        height: 100%;
    }

    #contentWrapper #myPayments .box  {
        padding-right: 10px;
        padding-left: 10px;
     }
}