
#contentWrapper #changePassword .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #16374d;
}

#changePassword .box form {
    margin: auto;
    width: 350px;
    font-size: 12px;
}

#changePassword .box .formControl {
    text-align: left;
    display: inline-block;
    width: 100%;
}

@media (max-width: 800px) {
    #contentWrapper #changePassword {
        height: 100%;
    }

    #contentWrapper #changePassword .box {
        padding-right: 10px;
        padding-left: 10px;
    }

    #contentWrapper #changePassword .box form {
        width: 100%;
    }
}