
#contentWrapper #changeEmail .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #16374d;
}

#changeEmail .box form {
    margin: auto;
    width: 350px;
    font-size: 12px;
}

#changeEmail .box .formControl {
    text-align: left;
    display: inline-block;
    width: 100%;
}

#changeEmail .isConfirmedEmail{
    display: inline-block;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 0;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #FF4600;
    color: #FFF;
}

#changeEmail .isConfirmedEmail.confirmed{
    background-color: #4AD991;
    padding: 5px 30px;
}

@media (max-width: 800px) {
    #contentWrapper #changeEmail {
        height: 100%;
    }

    #contentWrapper #changeEmail .box {
        padding-right: 10px;
        padding-left: 10px;
    }

    #contentWrapper #changeEmail .box form {
        width: 100%;
    }

    #contentWrapper #changeEmail .box .formControl {
        width: 100%;
        overflow: hidden;
    }
}