/* UserProfile */

#contentWrapper #userProfile .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #16374d;
}

#userProfile .box form {
    margin: auto;
    width: 350px;
    font-size: 12px;
}

#userProfile .box .avatar img {
    margin-top: -10px;
    margin-bottom: 10px;
    height: 80px;
}

#userProfile .box .formControl {
    text-align: left;
    display: inline-block;
    width: 100%;
}

#userProfile .box .formControl.name {
    width: 45%;
    margin-right: 5%;
}

#userProfile .box .formControl.lastName {
    width: 45%;
    margin-left: 5%;
}

@media (max-width: 800px) {
    #contentWrapper #userProfile {
        height: 100%;
    }

    #contentWrapper #userProfile .box {
        padding-right: 10px;
        padding-left: 10px;
    }

    #contentWrapper #userProfile .box form {
        width: 100%;
    }

    #contentWrapper #userProfile .box .formControl {
        width: 100%;
        overflow: hidden;
    }

    #contentWrapper #userProfile .box .formControl.name {
        width: 100%;
        margin-right: 0;
    }

    #contentWrapper #userProfile .box .formControl.lastName {
        width: 100%;
        margin-left: 0;
    }
}
