.newOne {
    text-align: center;
    margin: 20px 0;
    color: #A9AAAF;
}

.newOne a{
    color: red;
}

#LayoutVisitors form .bySms{
    font-size: 20px;
    padding: 20px 30px;
    margin-top: 30px;
    border: solid 2px #21a6af;
    border-radius: 10px 0 0 10px;
}

#LayoutVisitors form .bySms:hover{
    cursor: pointer;
    background-color: #21a6af;
}

#LayoutVisitors form .byEmail{
    font-size: 20px;
    padding: 20px 30px;
    margin-top: 30px;
    border: solid 2px #21a6af;
    border-radius: 0 10px 10px 0;
}

#LayoutVisitors form .byEmail:hover{
    cursor: pointer;
    background-color: #21a6af;
}

@media (max-width: 600px){
    #LayoutVisitors .content .wrappBox .box .buttn{
        font-size: 15px;
        margin-top: 50px;
    }
}


