/* FormUpgrade */

#formUpdate {
    color: #16374D;
    position: relative;
}

#formUpdate .formUpgradeTitle {
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#formUpdate form .package {
    background-color: #EFF5F9;
    display: flex;
    padding: 10px;
    border-radius: 100px;
    margin: 3px auto;
    width: 250px;
}
#formUpdate .layer .bubble {
    width: 95%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#formUpdate form .package.disabled {
    pointer-events: none;
    opacity: 0.4;
}

#formUpdate form .package .labelPackage {
    display: flex;
    width: 90%;
}

#formUpdate form .package .labelPackage:hover {
    cursor: pointer;
}

#formUpdate form .package .labelPackage .packageImage img {
    height: 30px;
}

#formUpdate form .package .labelPackage .packageName  {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto 0 5px;
    font-size: 11px;
    letter-spacing: 1px;
}

#formUpdate form .package .labelPackage .packageName .name {
    font-size: 13px;
    letter-spacing: 0;
}

#formUpdate form .package .labelPackage .packagePrice {
    font-size: 25px;
    font-weight: bolder;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formUpdate form .package input[type=radio] {
    visibility: hidden;
    position: absolute;
    right: 0;
}

#formUpdate form .package input[type=radio] + i{
    align-self: center;
    background: #D7E0E6;
    left: 0;
    top: 0;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    left: 15px;
    margin: 5px;
}

#formUpdate form .package input[type=radio] + i:hover{
    cursor: pointer;
}

#formUpdate form .package input[type=radio] + i:before{
	content: '';
	display: block;
	height: 25px;
	width: 25px;
	border-radius: 100%;
	background:#2BC7D0;
	transition: all 0.25s ease; /* Todas las propiedades | tiempo | tipo movimiento */
	transform: scale(0) /* Lo reducimos a 0*/ ;
	opacity: 0; /* Lo ocultamos*/
}

#formUpdate form .package input[type=radio]:checked + i:before{
	transform: scale(1);
	opacity: 1;
}

#formUpdate form .buttn {
    margin-top: 20px;
}