

#sideBar .menu .navSubList ul li a {
    flex-direction: row;
    justify-content: start;
    font-size: 13px;
    color: #4BB6B9;
    padding: 0 5px;
}

#sideBar .menu ul .navSubList li a {
    padding-bottom: 0;
}

.navSubList a:hover {
    cursor: pointer;
}

#sideBar .menu ul li a i.dropdown{
    font-size: 30px;
}

.navSubList i.dropdown {
    transition: all 500ms ease;
}

.navSubList.open i.dropdown {
    transform: rotateZ(-180deg);
}

.navSubList i.dropdown:hover {
    cursor: pointer;
}

.navSubList ul {
    max-height: 0;
    overflow:hidden;
    transition: all 500ms ease;
}

.navSubList.open ul {
    max-height: 100vh;
    overflow:auto;
    visibility: visible;
    transition: all 500ms ease;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.navSubList.open ul::-webkit-scrollbar {
    display: none;
}

#sideBar .child {
    background-color: #E4F7FB;
}

#sideBar .menu ul li.child a i {
    width: 30px;
    font-size: 10px;
    align-self: center;
}

@media (max-height: 900px) {

    #sideBar .menu ul li a i.dropdown{
        font-size: 20px;
    }
}