.balancesTable {
    width: 100%;
    border-collapse: collapse;
}

.balancesTable thead tr th{
    background-color: gray;
    color: white;
    padding: 5px;
}

.balancesTable tbody tr td{
    border: 1px solid black;
    padding: 5px;
}

.buttonsOrdsr {
    display: flex;
    flex-direction: row;
}
.buttonsOrdsr button{
    margin: 5px;
}