/* Modal */

.modalContainer {
    height: 100vh;
    width: 100%;
    background-color: #EFF5F9DD;
    display: flex;
    position: fixed;
    z-index: 2;
    transition: all 0.5s ease; /* Todas las propiedades | tiempo | tipo movimiento */
    visibility: visible;
    opacity: 1;
}

.modalContainer.hidden {
    visibility: hidden;
    opacity: 0;
}

.modalContainer .modalBox {
    min-height: 480px;
    width: 420px;
    text-align: center;
    background-color: #FFF;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

.modalContainer .modalBox .closeModalIcon{
    text-align: end;
}

.modalContainer .modalBox .closeModalIcon{
    position: relative;
    top: 15px;
    right: 15px;
    height: 25px;
}

.modalContainer .modalBox .closeModalIcon svg{
    width: 40px;
}

.modalContainer .modalBox .closeModalIcon svg:hover{
    cursor: pointer;
}

.modalContainer .modalBox .logotype img{
    height: 70px;
}