.formPassword {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.formPassword input.formControl{
    width: 85%;
}

.formPassword i {
    text-align: center;
    padding: 11px 5px;
    margin: auto 0;
    width: 10%;
}

.formPassword i {
    text-align: center;
    padding: 11px 5px;
    margin: auto 0;
    width: 10%;
}

.formPassword i:hover {
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

.formPassword i.visiblePassword {
    background-color: #2bc7d0;
}