@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
    font-family: bebasFont;
    src: url("/fonts/BebasNeue-Regular.ttf");
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttn{
    padding: 10px 38px;
    border-radius: 3px;
    border: none;    
}

.buttn.buttn-primary {
    color: white;
    background-color: #2BC7D0;
}

/* common components */

.buttn.buttn-secondary {
    background-color: white;
    border: 1.2px solid #2BC7D0;
}
.float-right{
    float: right;
}
.buttn.buttn-primary:disabled {
    color: rgba(16, 16, 16, 0.3);
    background-color: rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3);
    border-color: rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3);
    background-color: #e6e6e6;

}

input.formControl {
    width: 100%;
    margin: 15px 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #e4e4ee;
    padding: 10px 5px;
    font-size: 12px;
}

input.formControl.readonly{
    background-color: #DDD;
    border-bottom: 2px solid #BBB;
    color: #666;
}

input.formControl.readonly:hover{
    cursor: default;
}

input.formControl.readonly:focus{
    outline: none;
    border-bottom: 2px solid #BBB;
}

input.formControl.error {
    border-bottom: 2px solid red;
}

input.formControl:focus {
    outline: none;
    border-bottom: 2px solid #2bc7d0;
}

.link {
    cursor: pointer;
}