/* TwoFactorAuthAlert */

.twoFactorAuthAlert {
    background-color: #B1F3D6;
    color: #4D4F5C;
    font-size: 16px;
    display: inline-block;
    border-radius: 20px;
    padding: 3px 20px;
    margin: 0 10px;
}

.twoFactorAuthAlert:hover {
    cursor: pointer;
}

.twoFactorAuthAlert.inactive {
    background-color: #F6A88C;
}

.twoFactorAuthAlert .logo {
    font-size: 30px;
    font-weight: bolder;
}

.twoFactorAuthAlert .text {
    vertical-align: super;
    padding: 0 10px;
}

@media (max-width: 800px) {
    
    .twoFactorAuthAlert {
        padding: 0 5px;
        display: block;
    }

    .twoFactorAuthAlert .logo {
        font-size: 20px;
        width: 20px;
    }
    
    .twoFactorAuthAlert .text {
        font-size: 10px;
    }
}