/* FormTwoFactorAuthentication */

#formTwoFactAuthentication {
    color: #16374d;
    position: relative;
    margin-top: 10px;
}

#formTwoFactAuthentication .formTwoFactAuthenticationTitle {
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#formTwoFactAuthentication .formTwoFactAuthenticationTitle p {
    margin: 0;
}

/* #region STEPS */

/* #region STEPS DEFAULT */

@font-face {
    font-family: "rsuite-icon-font";
    src: url("https://cdn.jsdelivr.net/npm/rsuite/dist/styles/fonts/rsuite-icon-font.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/npm/rsuite/dist/styles/fonts/rsuite-icon-font.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

#formTwoFactAuthentication .rs-steps {
    min-height: 30px;
}
#formTwoFactAuthentication .rs-steps-item {
    padding-left: 40px;
    position: relative;
    overflow: hidden;
}
#formTwoFactAuthentication .rs-steps-item-icon-wrapper {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 1.75;
    color: #8e8e93;
    position: absolute;
    top: 0;
    left: 0;
}
#formTwoFactAuthentication .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon) {
    border-width: 1px;
    border-style: solid;
    border-color: #8e8e93;
    border-radius: 50%;
}
#formTwoFactAuthentication
    .rs-steps-item-status-finish
    .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon)
    .rs-steps-item-icon,
#formTwoFactAuthentication
    .rs-steps-item-status-error
    .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon)
    .rs-steps-item-icon {
    position: relative;
    text-indent: -9999px;
}
#formTwoFactAuthentication
    .rs-steps-item-status-finish
    .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon)
    .rs-steps-item-icon::before,
#formTwoFactAuthentication
    .rs-steps-item-status-error
    .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon)
    .rs-steps-item-icon::before {
    font-family: "rsuite-icon-font";
    font-style: normal;
    line-height: 1;
    width: 28px;
    height: 28px;
    font-size: 12px;
    line-height: 2.33333333;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
}
#formTwoFactAuthentication .rs-steps-item-status-finish .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon) {
    border-color: #3498ff;
    color: #fff;
}
#formTwoFactAuthentication
    .rs-steps-item-status-finish
    .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon)
    .rs-steps-item-icon::before {
    content: "\f00c";
    color: #3498ff;
}
#formTwoFactAuthentication .rs-steps-item-status-error .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon) {
    border-color: #f44336;
    color: #fff;
}
#formTwoFactAuthentication
    .rs-steps-item-status-error
    .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon)
    .rs-steps-item-icon::before {
    content: "\f00d";
    color: #f44336;
}
#formTwoFactAuthentication .rs-steps-item-status-process .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon) {
    border-color: #3498ff;
    background: #3498ff;
    color: #fff;
}
#formTwoFactAuthentication .rs-steps-item-status-finish .rs-steps-item-icon-wrapper,
#formTwoFactAuthentication .rs-steps-item-status-process .rs-steps-item-icon-wrapper {
    color: #3498ff;
}
#formTwoFactAuthentication .rs-steps-item-status-error .rs-steps-item-icon-wrapper {
    color: #f44336;
}
#formTwoFactAuthentication .rs-steps-item-icon-wrapper > .rs-steps-item-icon {
    width: 100%;
    display: block;
    text-align: center;
}
#formTwoFactAuthentication .rs-steps-item-icon-wrapper > .rs-steps-item-icon .rs-icon {
    vertical-align: middle;
}
#formTwoFactAuthentication .rs-steps-item-content {
    color: #8e8e93;
    display: inline-block;
    position: relative;
    width: 100%;
}
#formTwoFactAuthentication .rs-steps-item-status-process .rs-steps-item-content {
    color: #575757;
}
#formTwoFactAuthentication .rs-steps-item-status-error .rs-steps-item-content {
    color: #f44336;
}
#formTwoFactAuthentication .rs-steps-item-title {
    position: relative;
    font-size: 16px;
    line-height: 1.875;
    min-height: 16px;
    padding-right: 10px;
    display: inline-block;
}
#formTwoFactAuthentication .rs-steps-item-title:empty {
    padding-right: 0;
}
#formTwoFactAuthentication .rs-steps-item-description {
    margin-top: 12px;
}
#formTwoFactAuthentication .rs-steps-item-tail,
#formTwoFactAuthentication .rs-steps-item-title::after {
    position: absolute;
    border-color: #c5c6c7;
}
#formTwoFactAuthentication .rs-steps-item-status-process .rs-steps-item-tail,
#formTwoFactAuthentication .rs-steps-item-status-process .rs-steps-item-title::after {
    border-color: #c5c6c7;
}
#formTwoFactAuthentication .rs-steps-item-status-finish .rs-steps-item-tail,
#formTwoFactAuthentication .rs-steps-item-status-finish .rs-steps-item-title::after {
    border-color: #3498ff;
}
#formTwoFactAuthentication .rs-steps-next-error .rs-steps-item-tail,
#formTwoFactAuthentication .rs-steps-next-error .rs-steps-item-title::after {
    border-color: #f44336;
}
#formTwoFactAuthentication .rs-steps-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-height: 30px;
}
#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item:last-child {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item:last-child .rs-steps-item-title::after {
    display: none;
}
#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item:not(:first-child) {
    padding-left: 50px;
}
#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item:not(:first-child) .rs-steps-item-icon-wrapper {
    left: 10px;
}
#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item-content {
    height: 30px;
}
#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item-title::after {
    content: "";
    top: 15px;
    left: 100%;
    width: 9999px;
    border-top-width: 1px;
    border-top-style: solid;
}
#formTwoFactAuthentication .rs-steps-vertical .rs-steps-item {
    padding-bottom: 20px;
}
#formTwoFactAuthentication .rs-steps-vertical .rs-steps-item:not(:first-child) {
    margin-top: 10px;
}
#formTwoFactAuthentication .rs-steps-vertical .rs-steps-item:last-child .rs-steps-item-tail {
    display: none;
}
#formTwoFactAuthentication .rs-steps-vertical .rs-steps-item-tail {
    top: 40px;
    bottom: 0;
    left: 15px;
    border-left-width: 1px;
    border-left-style: solid;
}
#formTwoFactAuthentication .rs-steps-small {
    min-height: 24px;
}
#formTwoFactAuthentication .rs-steps-small.rs-steps-horizontal .rs-steps-item {
    min-height: 24px;
}
#formTwoFactAuthentication .rs-steps-small.rs-steps-horizontal .rs-steps-item:not(:first-child) {
    padding-left: 44px;
}
#formTwoFactAuthentication .rs-steps-small.rs-steps-vertical .rs-steps-item-tail {
    left: 12px;
}
#formTwoFactAuthentication .rs-steps-small.rs-steps-horizontal .rs-steps-item-title::after {
    top: 12px;
}
#formTwoFactAuthentication .rs-steps-small .rs-steps-item {
    padding-left: 34px;
}
#formTwoFactAuthentication .rs-steps-small .rs-steps-item-icon-wrapper {
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 1.57142857;
}
#formTwoFactAuthentication .rs-steps-small .rs-steps-item-title {
    font-size: 14px;
    line-height: 1.71428571;
}
#formTwoFactAuthentication .rs-steps-small .rs-steps-item-description {
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.66666667;
}
#formTwoFactAuthentication
    .rs-steps-small
    .rs-steps-item-status-finish
    .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon)
    .rs-steps-item-icon::before,
#formTwoFactAuthentication
    .rs-steps-small
    .rs-steps-item-status-error
    .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon)
    .rs-steps-item-icon::before {
    width: 22px;
    height: 22px;
    line-height: 1.83333333;
}

/* #endregion */

#formTwoFactAuthentication .stepsContainer {
    margin-top: 20px;
    padding: 0 50px;
}

#formTwoFactAuthentication .stepsContainer .titles {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    margin-bottom: 5px;
    font-size: 10px;
}

#formTwoFactAuthentication .stepsContainer .titles span {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    max-width: 60px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#formTwoFactAuthentication .stepsContainer .titles span.wait {
    color: #EFF5F9;
}

#formTwoFactAuthentication .rs-steps-item-icon-wrapper {
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 1.5;
    font-weight: bolder;
}

#formTwoFactAuthentication .rs-steps-item-icon-wrapper .rs-steps-item-icon.rs-steps-item-icon-process {
    background-color: #3498ff;
}

#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item .rs-steps-item-icon-wrapper {
    z-index: 1;
    background-color: #eff5f9;
    border-radius: 10px;
    border: none;
}

#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item:not(:first-child) {
    padding-left: 40px;
}

#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item .rs-steps-item-icon-wrapper .rs-steps-item-icon {
    border-radius: 10px;
}

#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item:not(:first-child) .rs-steps-item-icon-wrapper {
    left: 0;
}

#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item-title::after {
    left: -50px;
}

#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item-content {
    height: 40px;
}

#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item-title::after {
    top: 20px;
    border-top-width: 2px;
}

#formTwoFactAuthentication .rs-steps-item-tail,
#formTwoFactAuthentication .rs-steps-item-title::after {
    border-color: #eff5f9;
}

#formTwoFactAuthentication .rs-steps-item-status-process .rs-steps-item-tail,
#formTwoFactAuthentication .rs-steps-item-status-process .rs-steps-item-title::after {
    border-color: #eff5f9;
}

#formTwoFactAuthentication .rs-steps-horizontal .rs-steps-item .rs-steps-item-icon-wrapper {
    color: #d7e0e6;
}

#formTwoFactAuthentication
    .rs-steps-item-status-finish
    .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon)
    .rs-steps-item-icon::before {
    color: #fff;
    background-color: #2bc7d0;
    padding: 5px;
    line-height: 1.333;
    border-radius: 10px;
}

#formTwoFactAuthentication
    .rs-steps-item-status-finish
    .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon)
    .rs-steps-item-icon::before,
#formTwoFactAuthentication
    .rs-steps-item-status-error
    .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon)
    .rs-steps-item-icon::before {
    font-size: 20px;
}

#formTwoFactAuthentication .rs-steps-item-status-finish .rs-steps-item-tail,
#formTwoFactAuthentication .rs-steps-item-status-finish .rs-steps-item-title::after {
    border-color: #2bc7d0;
}

#formTwoFactAuthentication .rs-steps-item-icon-wrapper .rs-steps-item-icon.rs-steps-item-icon-process {
    background-color: #2bc7d0;
    color: #fff;
}

/* #endregion */

#formTwoFactAuthentication .stepPanelContainer .stepTitle {
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    margin-top: 15px;
}

#formTwoFactAuthentication .stepPanelContainer .stepDescription {
    font-size: 11px;
    margin: 0;
}

#formTwoFactAuthentication .dowloadAppImages a img {
    height: 50px;
    margin: 40px 5px;
}

#formTwoFactAuthentication .qrContainer {
    display: flex;
    justify-content: center;
}

#formTwoFactAuthentication .qrContainer .qrCodeImage{
    height: 150px;
}

#formTwoFactAuthentication .qrContainer .stepDescription {
    align-self: center;
    max-width: 200px;
}

#formTwoFactAuthentication .key {
    background-color: #E0FCEE;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 10px;
}

#formTwoFactAuthentication .key span {
    color: #707070;
    word-break: break-all;
}

#formTwoFactAuthentication .key i {
    color: #57D295;
    margin-top: 10px;
}

#formTwoFactAuthentication form {
    margin: auto;
    width: 300px;
    font-size: 12px;
}

#formTwoFactAuthentication .buttn {
    margin-top: 20px;
}

