#reservation {
    background-color: #0F334C;
    width: 100%;
    height: calc( 100vh );
    min-height: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans Pro";
}
.textLoading {
    font-family: "Raleway";
    margin:50px 0 20px 0;
    font-size: 20px;
}
#reservation > img {
    position: absolute;
    width: 100%;
    height: calc( 100vh );
}
.layer {
    position: relative;
    background-color: white;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.layer .form {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.layer .desc {
    color: #4D4F5C;
    font-size: 18px;
    opacity: .5;
}

#reservation input {
    width: 100%;
    margin: 8px 0;
}

#reservation h2 {
    color: #16374D;
    font-size: 30px;
}
#reservation .packages {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.packages > div {
    width: 30%;
    background-color: #EFF5F9;
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-bottom: 20px;
    color: #83929B;
}
.structure {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
}
.structure > div {
    width: 50%;
    box-sizing: border-box;
    padding: 10px ;
}
.packages > div:nth-child(3n) {
    margin-right: 0;
}

.packages > div img{
    width: 50px;
    padding: 15px;
}

.packages > div h3 {
    margin: 0 0 0 0;
    color: #16374D;
}

.packages > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.packages > div .price {
    font-size: 40px;
    color: #16374D;
    font-family: bebasFont;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
}
.packages > div .title {
    width: 130px;
}
.packages .check {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.packages .chkbox {
    width: 30px;
    height: 30px;
    background-color: #D7E0E6;
}

.layer .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer .footer button{
    border-radius: 50px;
    width: 400px;
    height: 50px;
    margin-top: 20px;
}

.layer .footer p{
    font-size: 23px;
    color: #0F334C;
}

.packages .check i{
    color: #2BC7D0;
    font-size: 40px;
    position: absolute;
}

@media (max-width: 1580px) {

    #reservation .layer {
        zoom: .85;
    }

    .packages > div {
        width: 40%;
        margin: 20px;
        min-width: 300px;
        max-width: 400px;
    }

    .packages > div:nth-child(3n) {
        margin-right: 20px;
    }
}

@media (max-width: 820px) {
    #reservation {
        height: auto;
    }
    #reservation > img{
        display: none;
    }
    #reservation .layer {
        zoom: 1;
        margin: 20px 0;
        padding-top: 20px;
        min-width: 400px;
    }
    .packages > div {
        width: 80%;
    }
    #reservation .packages {
        flex-direction: column;
        align-items: center;
    }
    .layer .footer p{
        width: 400px;
        text-align: center;
    }
    .structure > div {
        width: 100%;
    }
}