#mainGrid {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100vh;
    height: 100vh;
}

/* Banner */

/* #banner {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-around;
    background-color: #F0B90B;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 5px 0;
    transition: all 500ms ease;
}

#banner.bannerHidden {
    height: 0;
    padding: 0;
    margin: 0;
}

#banner .imageBinance img {
    width: 80px;
    vertical-align: middle;
    padding-top: 5px;
}

#banner .bannerText {
    padding-top: 5px;
}

#banner a {
    color: #007bff;
    text-decoration: none;
}

#banner a:hover {
    color: rgb(2, 77, 121);
    text-decoration: none;
}

#banner .closeBannerIcon {
    padding-left: 10%;
}

#banner .closeBannerIcon i {
    font-size: 30px;
}

#banner .closeBannerIcon i:hover {
    cursor: pointer;
    color: red;
} */

/* sidebar */
#logotypeOnResponsive {
    display: none;
}

#sideBar {
    display: grid;
    grid-template-rows: 83px 176px calc(100vh - 83px - 176px - 100px) 100px;
    background-color: #FFFFFF;
    z-index: 1;
    box-shadow: 0px 0px 20px -6px #868686;
}

#sideBar #buttonToggleMenu {
    display: none;
}

#sideBar .logotype {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px #F4F4F4;
    height: 80px;
}
#sideBar .logotype img {
    width: 120px;
}

#sideBar .userInfo{
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto;
    height: min-content;
    border-bottom: solid 3px #F4F4F4;
}

#sideBar .userInfo .avatar, .image{
    display: contents;
}

#sideBar .userInfo .avatar img{
    height: 70px;
    border-radius: 100%;
}

#sideBar .userInfo .info{
   margin: auto 0;
   margin-left: 5px;
}

#sideBar .userInfo .info .name{
    color: black;
    font-size: 13px;
    font-weight: 500;
}

#sideBar .userInfo .info .package{
    display: flex;
    padding: 5px 0;
}

#sideBar .userInfo .info .package .image img{
    height: 22px;
    margin-right: 5px;
}

#sideBar .userInfo .info .package .name{
    display: flex;
    flex-direction: column;
    line-height: 12px;
    color: #1C2A2D;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

#sideBar .userInfo .info .package .name .reservation{
    color: #FFD343;
    font-size: 10px;
    font-weight: 500;
}

#sideBar .userInfo .info .fullAccount{
    display: inline-block;
    margin-top: 2px;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #FF4600;
    color: #FFF;
}

#sideBar .userInfo .info .fullAccount.payed{
    background-color: #4AD991;
    padding: 5px 30px;
}

#sideBar .menu {
    min-height: 100px;
    overflow-y: scroll;
}

#sideBar .menu li a,
#sideBar .logout li a {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    width: 100%;
}

#sideBar .menu ul,
#sideBar .logout ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#sideBar .menu ul li,
#sideBar .logout ul li {
    color: #90C4CF;
    padding: 10px 15px;
}

#sideBar .menu ul li.active,
#sideBar .logout ul li.active {
    color: white;
    background-color: #2AC6D2;
}

#sideBar .menu ul li:hover,
#sideBar .logout ul li:hover {
    color: #2BC7D0;
    background-color: #EFF5F9;
}

#sideBar .menu ul li a,
#sideBar .logout ul li a {
    color: #90C4CF;
    text-decoration: none;
}

#sideBar .menu ul li a i,
#sideBar .logout ul li a i {
    font-size: 25px;
}

#sideBar .menu ul li.active a,
#sideBar .logout ul li.active a {
    color: white;   
}

#sideBar .menu ul li:hover a,
#sideBar .logout ul li:hover a {
    color: #2BC7D0;
}

/* main content */

#mainContent {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: #eef5f8;
    overflow: auto;
    position: relative;
}

/* top bar */

#topBar {
    background-color: #113a56;
    box-shadow: 5px -1px 4px grey;
    border-left: 1px solid #166177;
    display: flex;
    justify-content: flex-end;
}

#topBar button {
    float: right;
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 10px;
    font-size: 18px;
}

#topBar .user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

#topBar .user i {
    margin: 0 10px;
    color: gray;
}

#topBar .user span {
    color: #e4e4e4;
    font-size: 14px;
    display: block;
    width: -webkit-fill-available;
    text-align: right;
    border-left: 1px solid #166177;
    padding-left: 20px;
}

#topBar .user .avatar {
    width: 35px;
    border-radius: 20px;
}

/* content wrapper */

#contentWrapper {
    background-color: #EFF4F8;
}

#contentWrapper #childrenCounterAtTop {
    position: absolute;
    top: 20px;
    right: 70px;
}

#contentWrapper > div {
    height: 100%;
}

#contentWrapper h1 {
    color: #2C3A43;
    height: 60px;
    padding: 20px 0 0 70px;
    margin: 0;
    border-bottom: solid 3px #EBEBEB;
    font-weight: normal;
    font-size: 27px;
}

#contentWrapper .box {
    margin: 70px;
    display: block;
    background-color: white;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    min-height: calc(100% - 83px - 180px);
}

/* Responsive */

@media (max-height: 900px) {
    
    #sideBar {
        grid-template-rows: 83px 176px calc(100vh - 83px - 176px - 50px) 50px;
    }

    #sideBar .menu li a,
    #sideBar .logout li a {
        padding: 0;
        font-size: 15px;
    }

    #sideBar .menu ul li,
    #sideBar .logout ul li {
        padding: 7.5px 15px;
    }

    #sideBar .menu ul li a i,
    #sideBar .logout ul li a i {
        font-size: 15px;
    }
}

@media (max-height: 400px) {

    #mainGrid, #mainContent {
        height: 400px;
    }
    
    #sideBar {
        grid-template-rows: 83px 116px 100px 50px;
        height: 400px;
    }

    #sideBar .userInfo {
        padding: 5px 30px;
    }
}



@media (max-width: 1100px) {

    /* Banner */    

    /* #banner {
        display: block;
        text-align: center;
    }

    #banner .imageBinance {
        margin: auto;
    }
    
    #banner .closeBannerIcon {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    #banner.bannerHidden .closeBannerIcon {
        position: initial;
    } */

    /* MainGrid */

    #mainGrid {
        display: block;
        position: relative;
    }

    /* logotype */

    #logotypeOnResponsive {
        display: block;
        text-align: center;
        padding: 10px 0;
        border-bottom: solid 3px #EBEBEB;
        height: 50px;
        overflow: hidden;
    }

    #logotypeOnResponsive img {
        height: 50px;
    }

    /* SideBar */

    #sideBar {
        position: absolute;
        min-width: 250px;
        max-width: 300px;
        transition: all 500ms ease;
        grid-template-rows: 176px calc(100vh - 80px - 176px - 50px) 50px;
        transform: translateX(-100%);
        height: 90%;
        box-shadow: 0 0 black;
    }

    #sideBar #buttonToggleMenu {
        color: #2AC6D2;
        display: inline;
        position: absolute;
        top: 20px;
        right: -50px;
        padding: 5px;
        transition: all 500ms ease;
        transform: translateX(0);
    }

    #sideBar #buttonToggleMenu i {
        cursor: pointer;
    }

    #sideBar.visible {
        transform: translateX(20px) translateY(60px);
        box-shadow: 0px 0px 20px -6px #868686;
    }
    
    #sideBar.visible #buttonToggleMenu {
        transform: translateX(-270px) translateY(-60px);
    }
    
    #sideBar .logotype {
        display: none;
    }

    #sideBar .menu ul li.logout,
    #sideBar .logout ul li.logout {
        margin-top: 0;
    }
    
    #sideBar .menu li a,
    #sideBar .logout li a {
        padding: 0;
        font-size: 15px;
    }

    #sideBar .menu ul li,
    #sideBar .logout ul li {
        padding: 7.5px 15px;
    }

    #sideBar .menu ul li a i,
    #sideBar .logout ul li a i {
        font-size: 15px;
    }

    #mainContent {
        display: block;
        height: 100vh;
        position: relative;
    }

    #contentWrapper #childrenCounterAtTop {
        position: absolute;
        top: 10px;
        right: 0;
        display: flex;
        flex-direction: column;
    }

    #contentWrapper #childrenCounterAtTop .childrenCounter {
        padding: 10px 0;
    }

    #contentWrapper h1 {
        padding: 0;
        padding-left: 20px;
        font-size: 20px;
        border-bottom: 0;
        height: 15px;
    }

    #contentWrapper .box {
        margin: 20px;
        position: relative;
        overflow: scroll;
        height: calc(100vh - 168px);
    }
}

@media (max-height: 400px ) and (max-width: 800px){

    #mainGrid {
        min-height: 400px;
    }
}