#LayoutVisitors {
    display: flex;
    height: calc(100vh - 60px);
    min-height: min-content;
    background-color: #EFF5F9;
    padding: 30px;
    overflow: auto;
}

#LayoutVisitors .content {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 40px;
    width: min-content;
    min-height: 500px;
    margin: auto;
}

#LayoutVisitors .content .logo {
    text-align: center;
    margin-top: 50px;
}

#LayoutVisitors .content .logo img {
    height: 100px;
}

#LayoutVisitors .content .legal{
    text-align: center;
    color: #4e4e4e;
    font-size: 12px;
    font-weight: bold;
    margin-top: auto;
}

#LayoutVisitors .content .wrappBox{
    text-align: center;
    padding: 25px;
}

#LayoutVisitors .content .wrappBox .box{
    width: 350px;
    overflow: hidden;
    position: relative;
}

form h1 {
    color:#0B283B;
    letter-spacing: 8px;
    text-align: center;
}

form .desc{
    color: #A9AAAF;
    text-align: center;
    font-size: 14px;
}

@media (max-width: 600px){
    #LayoutVisitors {
        padding: 0;
        overflow: inherit;
    }

    #LayoutVisitors .content {
        margin: 0;
        width: 100%;
    }

    #LayoutVisitors .content .wrappBox .box{
        width: 100%;
    }

    form .desc{
        margin-bottom: 100px;
    }
}

@media (max-width: 400px){
    #LayoutVisitors .content {
        zoom: .80;
    }
}