

#LayoutVisitors.terms .content .wrappBox .box{
    width: 100%;
    overflow: hidden;
    position: relative;
}

#LayoutVisitors.terms .content {
    margin: 0;
    width: 90%;
    margin: auto;
}

#LayoutVisitors.terms .content .logo {
    margin-top: 0;
}

#LayoutVisitors.terms .content .logo img {
    height: 70px;
}

#LayoutVisitors.terms pre {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-height: 300px;
    overflow: auto;
    text-align: justify;
}

@media (max-width: 600px){
    #LayoutVisitors.terms .content .wrappBox .box .buttn{
        font-size: 15px;
        margin-top: 50px;
    }
}